.maintitle {
  text-align: center;
  background-color: #3148a7;
  color: #fff;
  padding: 20px;
  letter-spacing: 2px;
  font-weight: 500;
}
img {
  width: 100px;
  margin-left: 70px;
}

.box1 h2 {
  float: left;
}

.box1 button {
  float: right;
}

.container {
  margin: 50px;
}
